In [1]:
from vdmsparser_asammdf_v2_1 import *

ldf is not supported
xls is not supported
xlsx is not supported

In [2]:
# Create S3 client
endpoint = ''
access_key_id = ''
secret_access_key = ''
s3_client = init_s3_client(endpoint, access_key_id, secret_access_key)

In [3]:
# Get target vdms data objects from s3 objects storage
bucket_name = 'vdms'
key_ids = ['222700'] # MV
# key_ids = ['212362', '211254']
# # key_ids = [ '211254', '211659']
date_range = ['20230901', '20231004']
# key_ids = ['178794']
# date_range = ['20230202', '20230203']
srch_data_tp = ['CAN','CCP','GPS','DIAG'] # for searching
obj_list = get_s3_vdms_objs(s3_client, bucket_name, key_ids, date_range, srch_data_tp)
obj_list

Searching CAN/CCP data for key_id: 222700
Searching GPS/DIAG data for key_id:  222700
Done.


Summary of object list
        can_cnt  ccp_cnt  gps_cnt  diag_cnt
key_id
222700      396      364      394         0

                                                    Key      Size
0     user/vdmsapp/merge_auto/mdf/2023/09/01/222700/...    895334
1     user/vdmsapp/merge_auto/mdf/2023/09/01/222700/...    933454
2     user/vdmsapp/merge_auto/mdf/2023/09/01/222700/...  19864872
3     user/vdmsapp/merge_auto/mdf/2023/09/01/222700/...  40579446
4     user/vdmsapp/merge_auto/mdf/2023/09/01/222700/...    772203
...                                                 ...       ...
1149  user/vdmsapp/merge_auto/raw/2023/10/04/222700/...    320840
1150  user/vdmsapp/merge_auto/raw/2023/10/04/222700/...   9781829
1151  user/vdmsapp/merge_auto/raw/2023/10/04/222700/...     56996
1152  user/vdmsapp/merge_auto/raw/2023/10/04/222700/...     74033
1153  user/vdmsapp/merge_auto/raw/2023/10/04/222700/...   4502303

[1154 rows x 2 columns]

In [ ]:
# obj_list.Key.iloc[3]

In [4]:
# Get filtered vdms data objects from the searched objected above
# Filter condition 1: count pairs for each data type based on key_id and drv_cyc
# Filter condition 2: exclude drv_cyc containing small size of CAN/CCP data (set by min_size parameter)
parsing_data_tp = ['CAN','CCP'] # for parsing, 'DIAG' cannot be used here
min_size = 10 # Set minimum size of CAN, CCP/XCP files to filter out [unit: MB]
filt_obj_list = filter_s3_drvlog_objs(obj_list, parsing_data_tp, min_size)
filt_obj_list

Error data check:
                can_cnt  ccp_cnt
key_id drv_cyc
222700 159            1        0
       177            1        0
       178            1        0
       179            1        0
       180            1        0
       199            1        0
       267            1        0
       286            1        0
       296            1        0
       297            1        0
       298            1        0
       299            1        0
       300            1        0
       310            1        0
       331            1        0
       341            1        0
       344            1        0
       345            1        0
       346            1        0
       347            1        0
       358            1        0
       390            1        0
       392            1        0
       393            1        0
       397            1        0
       398            1        0
       400            1        0
       421            1        0
       422            1        0
       43             1        0
       52             1        0
       76             1        0

                                                   Key       Size
0    user/vdmsapp/merge_auto/mdf/2023/09/01/222700/...   19864872
1    user/vdmsapp/merge_auto/mdf/2023/09/01/222700/...   40579446
2    user/vdmsapp/merge_auto/mdf/2023/09/01/222700/...   49751553
3    user/vdmsapp/merge_auto/mdf/2023/09/01/222700/...  104329286
4    user/vdmsapp/merge_auto/mdf/2023/09/01/222700/...   20768138
..                                                 ...        ...
137  user/vdmsapp/merge_auto/mdf/2023/10/04/222700/...   33193578
138  user/vdmsapp/merge_auto/mdf/2023/10/04/222700/...   54392292
139  user/vdmsapp/merge_auto/mdf/2023/10/04/222700/...  114447290
140  user/vdmsapp/merge_auto/mdf/2023/10/04/222700/...   25584800
141  user/vdmsapp/merge_auto/mdf/2023/10/04/222700/...   52814334

[142 rows x 2 columns]

In [5]:
# Perfome parsing vdms data and merge them under synchronized timestep (or timestamp)
save_dir = 'D:/pu20/' # Set output saving directory
can_chlist_file = save_dir + 'can_chlist_pu_v1.csv' # Set a csv file that contains a list of can signals should be defined if 'can' in parsing data type
# can_chlist_file = []
samp_period = 0.1 # Sampling period (or raster) Unit [s], only 0.1s or 1s
### í˜„ìž¬ join_method ë³€ìˆ˜ ì•ˆ ì“°ìž„ 
# join_method = 'inner' # Set a way to merge parsed data
s3_vdms_pars_merging(filt_obj_list, parsing_data_tp, can_chlist_file, samp_period, s3_client, save_dir)

Parsing vdms data and saving outputs....

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 71/71 [17:20<00:00, 14.66s/it]

Done.